* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

h1{
  color: #293388;
  margin-bottom: 10px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 390px;
  max-height: 490px;
  padding: 20px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 7px 7px 10px 3px #24004628;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 6px; 
}

.container::-webkit-scrollbar-thumb {
  background-color: #949494; 
  border-radius: 3px; 
}

.container::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

label {
  color: #000;
  font-size: 1.5rem;
  display: flex;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
  padding-top: 15px;
}

input {
  width: 80%;
  height: 30px;
  background: #e0dede;
  margin-top: 8px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  text-transform: capitalize;
}

#estadoInput{
  text-transform: uppercase;
}

select{
  width: 80%;
  height: 30px;
  background: #e0dede;
  margin-top: 8px;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.consultarButton {
  width: 85%;
  height: 40px;
  margin: 12px auto 10%;
  color: #fff;
  background: #293388;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .2s ease-in;
}

.consultarButton:hover {
  background-color: #4450b8;
}